/** Colors */
$primary:               #525ddc;

/** Box Model  */
$spacer:                2rem;


/*
Paleta de colores:
Azul oscuro: #006ea3
Azul claro: #61bfc1
Footer Form: #f3f8fb
*/

$darkblue: #006ea3;

$blue: #61bfc1;

$white: #f3f8fb;